# Ignore compiled files
*.pyc
*.class

# Ignore logs
*.log

# Ignore virtual environment directory
learnix/env/
learnix/learnix/courses/fixtures/
learnix/learnix/media/
learnix/learnix/static/
learnix/data/
postagram/django-api/venv/

# Ignore sensitive information
secret.txt
learnix/learnix/db.sqlite3
postagram/django-api/db.sqlite3
